[tool.poetry]
name = "pypura"
version = "0.0.0"
description = "Python package for interacting with Pura smart fragrance diffuser"
authors = ["Nathan Spencer <natekspencer@gmail.com>"]
license = "MIT"
readme = "README.md"
include = ["pypura/py.typed"]

[tool.poetry.dependencies]
python = "^3.8.1"
boto3 = "^1.26.135"
pycognito = ">=2022.12,<2024.0"

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
flake8 = "^6.0.0"
isort = "^5.12.0"
mypy = "^1.3.0"
pydocstyle = "^6.3.0"
pylint = "^2.17.4"
pytest = "^7.3.1"
pytest-cov = "^4.0.0"
tox = "^4.5.1"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"
